@font-face {
  font-family: PhotoSignature;
  src: url(../font/Photograph_Signature.ttf);
}

@font-face {
  font-family: PaperNotesBold;
  src: url(../font/Papernotes\ Bold.ttf);
}

@font-face {
  font-family: PaperNotes;
  src: url(../font/Papernotes.ttf);
}

body {
  background-color: #4a536b;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

section.landing {
  height: 100vh;
  width: 100vw;

}

a {
  text-decoration: none;
}

.title-and-swiper {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px; /* Espace entre les colonnes */
}

.logo-links{
  display: flex;
  gap: 25px;
  padding-right: 2%;
  padding-top: 1%;
  text-decoration: none;
  justify-content: flex-end;
}

section.landing::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: -1;
  border-radius: 0% 0% 20% 20%;
}

.land-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 3%;
  margin-left: 10%;
  /* Ajuster la marge pour positionner correctement le contenu */
}

h1 {
  color: #4a536b;
  margin-left: 18%;
  margin-top: 0%;
  margin-bottom: 0;

  padding-bottom: 1vh;
  font-size: 100px;
  font-family: PaperNotesBold;
}

h2 {
  color: #aed6dc;
  margin-left: 18.5%;
  margin-top: 0;
  font-size: 50px;
  margin-bottom: 0px;
  padding-bottom: 1vh;
  font-family: PhotoSignature;
}


.case-button {
  max-width: fit-content;
  max-height: fit-content;
  margin-left: 18%;
  border: 5px solid #4a536b;
  /* Add a solid border */
  padding: 0px;
  /* Add space inside the border */
  border-radius: 12px;
  /* Round the corners */
  /* Set the font size */
  color: white;
  font-family: PaperNotes;
  text-decoration: none;
  text-align: center;
  font-size: 45px;
  background-color: #aed6dc;
  transition: 0.4s ease;
  /* Transition pour un effet doux */
  position: relative;
  /* Nécessaire pour le positionnement absolu du pseudo-élément */
  overflow: hidden;
  /* Cache tout ce qui dépasse l'élément */
  display: flex;
  align-items: center;
  justify-content: center;
}

.case-button:hover {
  background-color: #ff9a8d;
  border: 5px solid #ff9a8d;
  transform: scale(1.08);
}

a.inner-button {
  display: block;
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
  padding: 20px;
  line-height: 1;
}

@media only screen and (min-width: 1600px){
  .swiper {
    height: 50vh;
    width: 54vw;
    padding: 40px 0;
    overflow: hidden;
    margin-right: 2%;
  }

  .swiper-slide {
    position: relative;
    border-radius: 5%;
    aspect-ratio: 16/9;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    user-select: none;
    border: 8px solid #ff9a8d;  
  }
}

@media screen and (max-width: 1599px){

  .case-button {
  margin-left: 25%;
  }

  .swiper {
    display: none;
  }

  .swiper-slide {
    display: none;
  }

  .swiper-slide img {
    display: none;
  }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 50px;
    width: 90%;
    max-width: 1600px;
    box-sizing: border-box;
    margin: 0 auto;
    /* Centre la galerie horizontalement */
    padding: 20px;
    /* Ajoute un peu de padding autour de la galerie */
    padding-top: 80px;
    padding-bottom: 80px;
  }

@media screen and (min-width: 1600px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 50px;
    width: 150%;
    max-width: 1600px;
    box-sizing: border-box;
    margin: 0 auto;
    /* Centre la galerie horizontalement */
    padding: 20px;
    /* Ajoute un peu de padding autour de la galerie */
    padding-top: 80px;
    padding-bottom: 80px;
  }
}


.gallery-item {
  display: block;
  background-color: #ff9a8d;
  overflow: hidden;
  transition: 0.3s ease-out;
  padding: 30px;
  padding-bottom: 20px;
  border-radius: 5%;
  position: relative;
  /* Nécessaire pour le contenu absolu si besoin */
  text-decoration: none;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border: none;
  margin: 0 auto;
  object-fit: cover;
  border: none;
  /* Enlève les bordures supplémentaires sur l'image */
  border-radius: 5%;
  transition: 0.3s ease-out;
}

.gallery-item:hover {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #aed6dc;
  text-shadow: 3px 3px #4a536b;
  font-size: 140px;
  font-family: PhotoSignature;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease-out;
  pointer-events: none;
}


.img-hover:hover .hover-text {
  opacity: 1;
}


.img-gallery {
  transition: 0.4s ease-out;
  cursor: pointer;
}

.img-gallery:hover {
  filter: brightness(50%) blur(3px);
}


.gallery-title {
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding-top: 20px;
  text-decoration: none;
  font-family: PaperNotes;
  color: #aed6dc;
  text-shadow: 2px 3px 2px #4a536b;
}

section.footer {
  width: 100vw;
  height: 50px;
}

section.footer::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100px;
  background-color: white;
  z-index: -1;
  border-radius: 30% 30% 0% 0%;
}

.footer-text {
  padding-top: 2.5vh;
  display: flex;
  align-items: center;
  /* Aligne verticalement au centre */
  justify-content: center;
  /* Centre les éléments horizontalement */
  gap: 10px;
  /* Espace entre les éléments */
  color: #4a536b;
}

.footer-text h5,
.footer-text img {
  margin: 0;
  /* Retire les marges par défaut */
}

.footer-text h5 {
  font-family: PaperNotes;
  font-size: 28px;
  text-align: center;
}

.link {
  text-decoration: underline;
  color: #4a536b;
}

.title-collections {
  font-size: 140px;
  text-align: center;
  padding-top: 5vh;
  margin-left: 0;
  text-shadow: 5px 5px #ff9a8d;
}

.banner-container {
  position: relative;
  width: 100%;
}


.wide-banner {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
  filter: grayscale(75%) brightness(60%) contrast(60%);
}

.banner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: #aed6dc;
  text-align: center;
  font-size: 175px;
  font-family: PhotoSignature;
  text-shadow: 2px 3px 2px #4a536b;
}

.home-button {
  position: absolute;
  top: 8%;
  left: 8%;
  transform: translate(-50%, -50%);
  z-index: 10;
  filter: drop-shadow(4px 4px 2px #4a536b);
}

.gallery-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 50px;
  justify-items: center;
  align-items: center;
  width: 150%;
  max-width: 1600px;
  box-sizing: border-box;
  margin: 0 auto;
  /* Centre la galerie horizontalement */
  padding: 20px;
  /* Ajoute un peu de padding autour de la galerie */
  padding-top: 80px;
  padding-bottom: 80px;
}

.image-thumbnail {
    width: 500px;
    cursor: pointer;
}

/* Le conteneur de la modale est caché par défaut */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px); /* Floute l'arrière-plan */
    align-items: center;
    justify-content: center;
}

/* Style pour l'image dans la modale */
.modal-content {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
    border-radius: 8px;
}

/* Style pour la croix de fermeture */
.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

a.see-gallery {
  display: block;
  text-align: center;
  margin-bottom: 80px;
  font-size: 80px;
  font-family: PaperNotesBold;
  text-decoration: underline;
  color: #aed6dc;
}

@media screen and (max-width: 1600px){
  .hover-text {
    top: 40%;
    font-size: 100px;
  }

  .gallery-collection {
    grid-template-columns: repeat(2, 1fr);
    width: 110%;
  }
}

@media screen and (max-width: 1200px){

  .gallery-collection {
    grid-template-columns: repeat(1, 1fr);
    width: 110%;
  }
}



/* 
#aed6dc
#ff9a8d
#4a536b
*/