@font-face {
  font-family: PhotoSignature;
  src: url(../font/Photograph_Signature.ttf);
}

@font-face {
  font-family: PaperNotesBold;
  src: url(../font/Papernotes\ Bold.ttf);
}
@font-face {
  font-family: PaperNotes;
  src: url(../font/Papernotes.ttf);
}

body {
  background-color: #4a536b;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

section.landing {
  height: 100vh;
  width: 100vw;
}

section.landing::before {
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: white;
  z-index: -1;
  border-radius: 0% 0% 20% 20%;
}

h1 {
  color: #4a536b;
  margin-left: 18%;
  margin-top: 0%;
  padding-top: 15%;
  font-size: 100px;
  font-family: PaperNotesBold;
}

h2 {
  color: #aed6dc;
  margin-left: 19%;
  margin-top: -4%;
  font-size: 50px;
  margin-bottom: 0px;
  font-family: PhotoSignature;
}

.case-button {
  max-width: fit-content;
  max-height: fit-content;
  margin-left: 18%;
  border: 5px solid #4a536b;           /* Add a solid border */
  padding: 0px;                    /* Add space inside the border */
  border-radius: 12px;               /* Round the corners */                /* Set the font size */
  color: white;
  font-family : PaperNotes;
  text-decoration: none;
  text-align: center;
  font-size: 45px;
  background-color: #aed6dc;
  transition: 0.4s ease; /* Transition pour un effet doux */
  position: relative; /* Nécessaire pour le positionnement absolu du pseudo-élément */
  overflow: hidden; /* Cache tout ce qui dépasse l'élément */
  display: flex;
  align-items: center;
  justify-content: center;  
}

.case-button:hover {
  background-color: #ff9a8d;
  border: 5px solid #ff9a8d;
  transform: scale(1.08);
}

a.inner-button {
  display: block;
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
  padding: 20px;
  line-height: 1;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 50px;
  width: 150%;
  max-width: 1600px;
  box-sizing: border-box;
  margin: 0 auto; /* Centre la galerie horizontalement */
  padding: 20px; /* Ajoute un peu de padding autour de la galerie */
  padding-top: 80px;
  padding-bottom: 80px;
}

.gallery-item {
  display: block;
  background-color: #ff9a8d;
  overflow: hidden;
  transition: 0.3s ease-out;
  padding: 30px;
  padding-bottom: 70px;
  border-radius: 5%;
  position: relative; /* Nécessaire pour le contenu absolu si besoin */ 
  text-decoration: none;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border: none;
    margin: 0 auto;
    object-fit: cover;
    border: none; /* Enlève les bordures supplémentaires sur l'image */
    border-radius: 5%;
    transition: 0.3s ease-out;
}

.gallery-item:hover {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #aed6dc;
  text-shadow: 3px 3px #4a536b;
  font-size: 140px;
  font-family: PhotoSignature;
  text-align: center;
  opacity: 0;
  transition: opacity 0.4s ease-out; 
  pointer-events: none; 
}

.gallery-item:hover .hover-text {
  opacity: 1;
}


.img-gallery{
  transition: 0.4s ease-out;
}

.img-gallery:hover {
  filter: brightness(50%) blur(3px);
}

.gallery-title{
  text-align: center;
  font-size: 50px;
  margin: 0;
  padding-top: 12px;
  text-decoration: none;
  font-family: PaperNotes;
  color: #aed6dc;
  text-shadow: 2px 3px 2px #4a536b;
}

section.footer {
  width: 100vw;
  height: 50px;
}

section.footer::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100px;
  background-color: white;
  z-index: -1;
  border-radius: 30% 30% 0% 0%;
}


/* 
#aed6dc
#ff9a8d
#4a536b
*/